@model FreelanceHub.Models.Client;

<h2>Create Client</h2>

<form>
    <div>
        <label>Name</label>
        <input type="text"/>
    </div>

    <br />

    <button type="submit">Save</button>
</form>